.cta {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  border-radius: 0.4rem;
  padding: 2rem 1.2rem;
  margin: 0 0 2em 0;

  @media (min-width: 768px) {
    padding: 3.3em 4.9em;
  }

  & h3 {
    font-size: var(--fs-h3);
  }
  & span {
    color: var(--color-cream);
    font-size: var(--fs-p);
  }
}
